* {
	margin : 0px;
	padding : 0px;
}

body {
	background : url('images/body_background.gif') #fff repeat-x 0px 57px;
	color :black;
	text-align : center;
	font-family : tahoma, sans-serif;
	font-size : 15px;
	margin: 10px;
}
img{
	padding-bottom: 0px;
	padding-right: 50px;
}