<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bestsellers</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body class="container">


    <main>
        <div class="jumbotron">
            <img src="LOL_icon.png" height="47">
            <img src="LOL_text.png">
            <h1>Best Sellers</h1>
            <br>
        </div>
        <form action="/query" method="post">
            <h2>Query<h2>
            <label for="queryStr">Enter seller name</label>
            <input id="queryStr" type="text" name="queryStr" placeholder="Search">
            <button id="execute" type="submit">Go!</button>
        </form>

        <h2>Results</h2>
        <ul>
            <% listings.forEach(function(item) { %>
                <li><%= item.subject %> - <%= item.seller %> - <%= item.title %></li>
            <% }); %>
        </ul>
    </main>


    
</body>
</html>